/*IMPORTAR FUENTES*/

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

body {
  background-color: #ffffff;
}

/*HEADER*/

#logo {
  width: 200px;
  height: 65px;
  margin-top: -10px;
}

#header {
  background-image: url("../media/header.jpg");
  background-size: cover;
  height: 380px;
}

#header li:first-of-type {
  margin-left: 60px;
}

#header a { 
  justify-content: center;
  align-items: center;
  color:black;
  font-weight: 400;
}
#header div.dropdown-menu a {
  color: black;
  
}

.dropdown-menu {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}

a.btn{
  padding: 0;
  
}
.dropdown-menu[data-bs-popper] {
  top:65%;
}

.nav:link:hover a{
  color: white;
}

a.btn:hover{
  background-color: #343434;
  color: white;
 
}

#header-nombre-usuario,#inicio,#excursiones,#blog,#conocenos,#contact{
    border-radius: 10px;
  
}

#excursiones,#conocenos,#icono-perfil,#header-nombre-usuario{
  padding:7px;
}

#header-nombre-usuario:hover,#inicio:hover,#excursiones:hover,#blog:hover,#conocenos:hover,#contact:hover{
  background-color: #343434;
  color: white;  
}

#icono-usuario:hover{
  background-color: #343434;
  color: white;
  opacity: .5;
}

.navbar-nav{
  width: 100%;
}

.dropdown:hover .dropdown-menu {
  display: block; 
  left:auto; 
}

#cerrar-sesion{
  cursor: pointer;
}

#perfil,#cerrar-sesion,#header-nombre-usuario,#barra2,#barra3{
  display: none;
}

#header-nombre-usuario{
  display:inline-block!important;
}

#menu {
  padding: 20px;
  width: 100%;
}

/*CONTENIDO*/

.row{
  /*Para que no tenga el margen por defecto de bootstrap*/
  margin:0;
}


#titulo {
  margin-top: 30px;
  margin-bottom: 25px;
}

.span{
  font-weight: bold;
}


/*ENTRADAS DEL BLOG*/


#imagen-principal{
  border-radius: 5%;
  width: 100% !important;
}


.entrada {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0.3, 0.3, 0.3, 0.9);
	overflow: hidden;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  text-align: justify;
  align-items: center;
}

.entrada:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

#titulo-entrada{
  text-decoration: none;
  color:#238636;
}

#imagen-principal{
  width: 270px; 
  height: 150px;
}

#leer-mas{
  text-decoration: none;
  color:#343434;
}

#titulo-entrada:hover,#leer-mas:hover{
  text-decoration: none;
  color:gold;
}

#mas-info{
  text-align:right;
}

footer {
  padding: 30px 0;
}

#logo-footer{
  width:30%;
}

/*MEDIA QUERIES*/

@media (max-width: 990px) {
  
  #menu-desplegable{
    background-color: none;
    border-radius: 15%;
    margin:  4px 10px 4px 4px;
  }
  #logo,#barra-busqueda{
    display: none;
  }  
  #header li:first-of-type {
    margin-left:0;
  }
  
  #header li{
    display:inline-block;
    background-color: #343434;
    
  }
  #header a{
    margin:0;
    color:white;
  
  }
  
  #header-nombre-usuario,#inicio,#excursione,#blog,#conocenos,#contact{   
    color: white;  
  }
  #header-nombre-usuario:hover,#inicio:hover,#excursiones:hover,#blog:hover,#conocenos:hover,#contact:hover{
     color: white;  
  }
  #excursiones,#conocenos,#icono-perfil,#header-nombre-usuario{
    padding:0;
  }
  
  .btn{
    padding: 0;
  }

  #header div.dropdown-menu a {
   margin:0;
   padding-left:10px;
   
  } 
  .nav-item{
    padding: 10px;
  }
  
  .navbar-nav{
    width: 250px;

  }
  #header ul {   
    padding-left: 20px;
    padding-bottom: 10px;
    
  }
  .nav-item.dropdown{
    margin-top:0;
  }
  .dropdown-menu {    
    transform:none;
  }
  .dropdown-menu {    
    transform:none!important;
  }
  
  .entrada {
    display: block;
    width: fit-content;
  }
  #col-imagen,#descripcion-entrada{
    width: 100%;
  }  

  #descripcion-entrada{
    max-width: 100%;
  }
  #contacto a{
    margin: 0!important;
  }
  
  #logo-footer{
    width: 70%;
  }
}

@media (max-width: 630px) {

  footer p{
    font-size: 10px;
  } 
  
}

a.text-reset{
  text-decoration: inherit;
}

#menu nav {
  padding: 0.5rem 0;
}

#contacto a{
  margin:10px;
}