/*PROYECTO */

body {
  background-color: #ffffff;
  width: 100vw;
}

#logo {
  width: 200px;
  height: 65px;
}

#header {
  background-image: url("../media/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 380px;
}
#header li:first-of-type {
  margin-left: 100px;
}
#header a {
  margin: 20px;
  padding-right: 50px;
  color: #ffffff;
}
#header div.dropdown-menu a {
  color: black;

  margin: 10px 0;
}

#menu {
  position: fixed;
  width: 100%;
}

footer {
  padding: 30px 0;
}

footer div.row {
  max-width: 100%;
}

#menu nav {
  padding: 0.5rem 0;
}



