/*PROYECTO */

/*
* {
  border:2px red solid;
}
*/

body {
  background-color: #ffffff;
}

#logo {
  width: 200px;
  height: 65px;
  margin-top: -15px;
}

#header {
  background-image: url("../media/header.jpg");
  background-size: cover;
  height: 380px;
}
#header li{
  display: flex;
  justify-content: center;
  align-items: center;
}
#header li:first-of-type {
  margin-left: 60px;
}

#header a {
  margin: 20px;
  margin-right: 5px;
 
  justify-content: center;
  align-items: center;
  color:black;
  font-weight: 400;
}
#header div.dropdown-menu a {
  color: black;
  margin: 10px 0;
}

a.btn{
  padding: 0;
  
}

.navbar-nav{
  width: 100%;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 

}

#menu {
  /*Cambiar el fixed por un boton que suba al inicio de la pagina/*
  /*position: fixed;*/

  width: 100%;
  /*padding-bottom: 10px;*/
}

/*BARRA DE BUSQUEDA*/
#barra-busqueda{
  padding:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:100px;
  background-color: black;  
}

#lugares{
  padding: 13px;  
  border: 1px solid black;
  border-radius: 5px;   
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.4s;
}

input[type=submit]:hover {
  background-color: lightblue;
}

.nav-item a {
  color: black;
}

.row{
  /*Para que no tenga el margen por defecto de bootstrap*/
  margin:0;
}
/*.col-4,.col5,.col-6,.col-7{
  border: 1px solid black;

}*/

#titulo {
  margin-top: 30px;
  margin-bottom: 25px;
}

/*FICHA EXCURSION Y PROMOCIONES*/

#excursiones{
  display: flex;
  align-items: center;
  justify-content: center;
}

#button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:10px;

}

.datosFicha div{
  display: -webkit-inline-box;
  margin-top:10px;
}

.datosFicha div div{
  margin-left: 10px;
}

.datosFicha{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ficha{
  /*height:500px;*/

  height:530px;
  width: 350px;
  border: 1px solid black;
  border-radius: 5%;
  box-shadow: 0 2px 5px rgba(0.3, 0.3, 0.3, 0.9);
	overflow: hidden;
  margin-right: 30px;
  margin: 10px;
  padding-top: 10px;
  transition: 0.3s;
}


.ficha:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}


/*
#img-promo,#imagenf{
  width: 100%;
}
*/

#imagenf{
  width: 90%;
  border-radius: 5%;
  margin-bottom: 10px;
}

/*OPINIONES*/
#opiniones{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  text-align: center;
  /*border: 1px solid black;*/
}
#imagenop{
  width: 50%;  
}
/*PRESENTACION IBICE*/
#presentacion-ibice{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /*border: 1px solid black;*/
}
#carrousel-foto{
  width: 100%;
}


footer {
  padding: 30px 0;
}

@media (max-width: 990px) {

  #menu-desplegable{
    background-color: none;
    border-radius: 15%;
    margin:  4px 10px 4px 4px;
  }
  #logo,#barra-busqueda{
    display: none;
  }  
  #header li:first-of-type {
    margin-left:0;
  }
  
  #header li{
    display:inline-block;
    background-color: lightgray;
    
  }
  #header a{
    margin:0;
  
  }
  
  .btn{
    padding: 0;
  }
  #header div.dropdown-menu a {
   margin:0;
   padding-left:10px;
   
  } 
  .nav-item{
    padding: 10px;
  }
  
  .navbar-nav{
    width: 250px;

  }
  #header ul {

    padding-top:5px;
    padding-left: 20px;
    padding-bottom: 10px;
    
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 

  }
  
}

@media (max-width: 630px) {

  footer p{
    font-size: 10px;
  }
  #logo-footer{
    width:100%;
  }

  
}

#menu nav {
  padding: 0.5rem 0;
}

#contacto a{
  margin:10px;
}



