
/*IMPORTAR FUENTES*/

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

/*HEADER*/

#logo {
  width: 200px;
  height: 65px;
  margin-top: -10px;
}

#header {
  background-image: url("../media/header.jpg");
  background-size: cover;
  height: 380px;
}

#header li:first-of-type {
  margin-left: 60px;
}

#header a { 
  justify-content: center;
  align-items: center;
  color:black;
  font-weight: 400;
}

#header div.dropdown-menu a {
  color: black;
}

.dropdown-menu {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}

a.btn{
  padding: 0;
}

.dropdown-menu[data-bs-popper] {
  top:65%;
}

.nav:link:hover a{
  color: white;
}

a.btn:hover{
  background-color: #343434;
  color: white;
}

#header-nombre-usuario,#inicio,#excursiones,#blog,#conocenos,#contact{
  border-radius: 10px;
}

#excursiones,#conocenos,#icono-perfil,#header-nombre-usuario{
  padding:7px;
}

#header-nombre-usuario:hover,#inicio:hover,#excursiones:hover,#blog:hover,#conocenos:hover,#contact:hover{
  background-color: #343434;
  color: white;  
}

#icono-usuario:hover{
  background-color: #343434;
  color: white;
  opacity: .5;
}

.navbar-nav{
  width: 100%;
}

.dropdown:hover .dropdown-menu {
  display: block; 
  left:auto; 
}

#cerrar-sesion{
  cursor: pointer;
}

#perfil,#cerrar-sesion,#header-nombre-usuario,#barra2,#barra3{
  display: none;
}
#header-nombre-usuario{
  display:inline-block!important;
}

#menu {
  padding: 20px;
  width: 100%;
}

/*CONTENIDO*/

.row{
  /*Para que no tenga el margen por defecto de bootstrap*/
  margin:0;
}


#titulo {
  margin-top: 30px;
  margin-bottom: 25px;
}

.span{
  font-weight: bold;
}

/*FORMULARIO*/

.container {
  margin-top: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 700px;
	max-width: 100%;  
  padding-right: 0;
  padding-left: 0;
}

.titulo-iniciar-sesion {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
  
}

.titulo-iniciar-sesion h2 {
	margin: 0;
}

.form {
	padding: 30px 40px;	
}

.form-control-input {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control-input label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control-input input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control-input input:focus {
	outline: 0;
	border-color: #777;
}

.form-control-input.success input {
	border-color: #2ecc71;
}

.form-control-input.error input {
	border-color: #e74c3c;
}

.form-control-input i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control-input.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control-input.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control-input small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control-input.error small {
	visibility: visible;
}

.form button {
	background-color: #6c757d;
	border: 2px solid #4f565c;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}

#recordar-pass{
  background-color: #6c757d;
	border: 2px solid #4f565c;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
  text-align: center;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}

#recordar-pass-enlace{
  text-decoration: none;
}

#logo-footer{
  width:30%;
}

footer {
  padding: 30px 0;
}

/*MEDIA QUERIES*/

@media (max-width: 990px) {

  #menu-desplegable{
    background-color: none;
    border-radius: 15%;
    margin:  4px 10px 4px 4px;
  }

  #logo,#barra-busqueda{
    display: none;
  } 

  #header li:first-of-type {
    margin-left:0;
  }
  
  #header li{
    display:inline-block;
    background-color: #343434;
  }

  #header a{
    margin:0;
    color:white;
  }
  
  #header-nombre-usuario,#inicio,#excursione,#blog,#conocenos,#contact{   
    color: white;  
  }

  #header-nombre-usuario:hover,#inicio:hover,#excursiones:hover,#blog:hover,#conocenos:hover,#contact:hover{
     color: white;  
  }

  #excursiones,#conocenos,#icono-perfil,#header-nombre-usuario{
    padding:0;
  }
  
  .btn{
    padding: 0;
  }

  #header div.dropdown-menu a {
   margin:0;
   padding-left:10px;
  } 

  .nav-item{
    padding: 10px;
  }
  
  .navbar-nav{
    width: 250px;
  }

  #header ul {   
    padding-left: 20px;
    padding-bottom: 10px;
  }

  .nav-item.dropdown{
    margin-top:0;
  }

  .dropdown-menu {    
    transform:none;
  }

  .dropdown-menu {    
    transform:none!important;
  }

  .container {    
    max-width: 90%;
  }

  #contacto a{
    margin: 0!important;
  }

  #logo-footer{
    width: 70%;
  }

}

@media (max-width: 630px) {

  footer p{
    font-size: 10px;
  }
  
}

a.text-reset{
  text-decoration: inherit;
}

#menu nav {
  padding: 0.5rem 0;
}

#contacto a{
  margin:10px;
}



